 <html>
        <head>
            <title>My first blog</title>
        </head>
        <body>
            <div>
                <h1><a href="">My first Blog</a></h1>
            </div>

            {% for post in posts %}
                <div>
                    <p>published: {{ post.datetime }} </p>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>{{ post.content|linebreaks }}</p>
                </div>
            {% endfor %}
        </body>
    </html>
